:root {
  --lighted-main-blue: rgb(0, 119, 255);
  --main-blue: rgb(0, 84, 180);
  --darked-main-blue: rgb(0, 60, 128);
}

@media screen and (max-width: 768px) {
  header {
    display: none;
  }
  .auth__container {
    min-width: 360px;
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .auth__container {
    min-width: 480px;
    max-width: 480px;
  }
}

body{
  margin: unset;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: var(--darked-main-blue);
  background-color: rgb(189, 189, 189);
  display: grid;
  grid-template-rows: fit-content(90%) auto 40px;
  height: 100vh;
}

.header-logo {
  border-radius: 40px;
  margin: 20px;
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  }
  50% {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.4);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(-2px) translateY(-2px);
  }
  50% {
    transform: translateX(2px) translateY(2px);
  }
  75% {
    transform: translateX(-2px) translateY(-2px);
  }
}

.shake {
  animation: shake 0.3s ease-in-out;
}

footer {
  width: 100%;
  height: 30px;
  padding: 5px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  color: var(--main-blue);
  font-size: 64px;
  font-weight: 900;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

button {
  margin: 5px 10px;
  border-radius: 5px;
  border-width: 0px;
  background-color: var(--main-blue);
  font-size: 20px;
  color: white;
}

button:hover {
  background-color: var(--darked-main-blue);
}

.auth__container {
  height: calc(100vh - 202px);
  min-height: 480px;
  max-height: 600px;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.v-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__form {
  display: grid;
  grid-template-rows: 40% 50px 50px 110px auto;
  height: 100%;
}

.login_input {
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 5px;
  border-width: 0px;
  transition: all 1s;
}

.login_input:invalid {
  box-shadow: 0px 0px 3px 3px rgba(255, 0, 0, 0.4);
}

.form-actions {
  display: grid;
  grid-template-rows: 50% 50%;
}

.remember-me {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__socials {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 10px;
}

.socials_icons {
  margin: 0px 5px;
  max-height: 50px;
  min-height: 40px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

.socials_icons:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

#message {
  text-align: center;
  padding: 10px;
}

.green {
  color: green;
  background-color: #d4edda;
}

.red {
  color: red;
  background-color: #f8d7da;
}

input[type='checkbox']:checked {
  animation: pulse 1s ease-in-out;
}